@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}

.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;
  background-color: #68d391;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#hasura-logo {
  width: 115px;
  margin-right: 12px;
  margin-top: -5px;
}

#switch-icon {
  width: 15px;
  margin-right: 12px;
}

button,
.try-it-out-button,
.nav-tab {
  transition: all 0.2s ease 0s;
}

.role-change-btn {
  padding: 0 15px;
  transition: all 0.2s ease 0s;
  font-size: 15px;
  font-weight: 550;
  cursor: pointer;
  background: linear-gradient(-45deg, rgb(236, 25, 67), rgb(240, 72, 106));
  border: none;
  color: rgb(255, 255, 255);
  height: 38px;
  outline: none;
  outline-color: none;
  white-space: nowrap;
}

.role-change-btn:focus {
  outline: none;
}

.close-btn {
  border-radius: 50%;
  transition: all 0.1s ease 0s;
  background: #fff;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}

.close-btn:hover {
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.search-bar {
  border: 1px solid transparent;
  box-shadow: 0 4px 16px rgba(32, 33, 36, 0.16);
  background: #fff;
  display: flex;
  justify-content: space-between;
  height: 39px;
  width: 690px;
  border-radius: 24px;
  z-index: 3;
  height: 44px;
}

.search-bar:hover {
  box-shadow: 0 4px 16px rgba(32, 33, 36, 0.28);
  border-color: rgba(223, 225, 229, 0);
}

.modal-header {
  background: #f5f5f5;
  padding: 15px 20px;
}

.try-it-out-icon {
  display: inline-block;
  margin-bottom: -3px;
}

.try-it-out-button {
  width: 115px;
  border-radius: 4px;
  height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
}

.try-it-out-button:hover {
  box-shadow: 0 4px 16px rgba(32, 33, 36, 0.28);
}

/**** GraphiQL ************************/

.graphiql-container .doc-explorer-title,
.graphiql-container .history-title {
  height: 40px !important;
}

.doc-explorer-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px !important;
  padding: 0 15px;
  border-bottom: 0.5px solid #e5e5e5;
}

.doc-explorer-contents {
  padding: 10px 0px 0px 10px !important;
}

.graphiql-container .topBar {
  height: 50px !important;
}

.graphiql-explorer-field-view {
  font-size: 14px !important;
  letter-spacing: 0.5px;
}

.graphiql-operation-title-bar input {
  width: 8ch !important;
}

.cm-comment {
  padding-left: 40px;
}

.graphiql-container .doc-explorer-contents,
.graphiql-container .history-contents {
  top: 57px !important;
  border-top: none !important;
}

.docExplorerWrap {
  min-width: 280px !important;
  width: 28px;
}

.doc-explorer-contents form {
  margin: 0 !important;
  padding-top: 10px;
}

.doc-explorer-contents form select {
  padding: 2px 10px;
  background: #f6f6f6;
  border-radius: 3px;
  border: 0.5px solid #e5e5e5;
  margin: 0 10px;
}

.doc-explorer-contents svg {
  display: inherit;
}

.toolbar-button {
  margin-top: -5px;
}

.graphiql-container div .query-editor {
  max-height: 55vh;
}

.graphiql-operation-title-bar {
  padding-bottom: 8px !important;
}

.graphiql-container .search-box {
  margin: 0px 0px 10px 0px !important;
  padding-bottom: 5px;
}

.graphiql-container .doc-explorer-contents {
  overflow-x: hidden;
  padding: 10px 20px !important;
}

.query-editor .CodeMirror pre {
  padding-left: 40px !important;
}

.query-editor .CodeMirror-linenumber {
  width: 30px;
  text-align: center !important;
  /* background: #f6f6f6; */
}

.query-editor .graphiql-container .CodeMirror-lines {
  padding: 0px 0 20px !important;
}

.variable-editor .CodeMirror pre {
  padding-left: 40px !important;
}

.graphiql-container .secondary-editor {
  min-height: 150px !important;
}

.graphiql-container {
  border-left: 3px solid #eee;
}

#query-MyQuery {
  height: 100%;
  max-height: 70vh;
  overflow: auto;
}
