@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

html {
  overflow-x: hidden;
  overflow-y: scroll;
}

/* CHECKBOX TOGGLE SWITCH */
/* @apply rules for documentation, these do not work as inline style */
.toggle-checkbox:checked {
  @apply right-0 border-green-400;
  right: 0;
  border-color: #68d391;
}

.toggle-checkbox:checked + .toggle-label {
  @apply bg-green-400;
  background-color: #68d391;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

#hasura-logo {
  width: 130px;
  margin-right: 12px;
  margin-top: -5px;
}

.nav-tab {
  transition: all 0.2s ease 0s;
}

/* GraphiQL */

.graphiql-container .doc-explorer-title,
.graphiql-container .history-title {
  height: 40px !important;
}

.doc-explorer-title-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50px !important;
  padding: 0 15px;
  border-bottom: 0.5px solid #e5e5e5;
}

.doc-explorer-contents {
  padding: 10px 0px 0px 10px !important;
}

.graphiql-container .topBar {
  height: 50px !important;
}

.graphiql-explorer-field-view {
  font-size: 14px !important;
  letter-spacing: 0.5px;
}

.graphiql-operation-title-bar input {
  width: 8ch !important;
}

.CodeMirror-linenumber {
  width: 30px;
  text-align: center !important;
  background: #f6f6f6;
}

.cm-comment {
  padding-left: 40px;
}

.graphiql-container .CodeMirror-lines {
  padding: 0px 0 20px !important;
}

.graphiql-container .doc-explorer-contents,
.graphiql-container .history-contents {
  top: 57px !important;
  border-top: none !important;
}

.docExplorerWrap {
  min-width: 280px !important;
  width: 28px;
}

#query-MyQuery {
  max-height: 65vh;
}

.doc-explorer-contents form {
  margin: 0 !important;
  padding-top: 10px;
}

.doc-explorer-contents form select {
  padding: 2px 10px;
  background: #f6f6f6;
  border-radius: 3px;
  border: 0.5px solid #e5e5e5;
  margin: 0 10px;
}

.toolbar-button {
  margin-top: -5px;
}

.graphiql-container div .query-editor {
  max-height: 69.5vh;
}

.graphiql-operation-title-bar {
  padding-bottom: 8px !important;
}

.graphiql-container .search-box {
  margin: 0px 0px 10px 0px !important;
  padding-bottom: 5px;
}

.graphiql-container .doc-explorer-contents {
  overflow-x: hidden;
  padding: 10px 20px !important;
}
